:host {
  position: relative;
  bottom: 15px;
  display: inline-block;
  width: 100%;
  background: #E5E5E5;
  padding-bottom: 20px;
  margin-bottom: -30px;
}

.mat-nav-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding-right: 18%;
}

.mat-list-base {
  padding: 0px;
}

.filter-item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;

  margin: 0px;
  padding-left: 0px;

  text-decoration: underline;
}
.filter-input {
  margin-left: 5px;
  border: 0px;
}
.mat-line {
  color: blue;
  margin-left: 8px;
}


