form {
  width: 100%;
  height: 100%;
}
.mat-input-element {
  width: 80%;
  height: 100%;
  background-color: #EFEFEF;
  border: 0px;
}

.header-request {
  width: 20%;
  background: #2f80ed;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  color: white;
}
