app-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  background: #E5E5E5;
  width: 100%;
  padding-top: 2%;
}

app-search-result {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  width: 80%;
  height: 70vh;
  margin: 20px auto;
  overflow-y: scroll;
  overflow-x: hidden;
}
